html,
body {
  box-sizing: border-box;
  background-color: whitesmoke;
  height: 100%;
  padding: 10px;
  margin: 0px;
  font-family: "Roboto";
  margin-left: 5em;
  margin-right: 5em;
  color: darkslategray;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
}

.small {
  font-size: medium;
  font-weight: 400;
}
.display-1 {
  font-weight: 300;
  color: white;
  font-size: 40pt;
  margin: 0 0 0.3em;
}

.display-2 {
  font-weight: 700;
  color: white;
  font-size: 32pt;
}

.text-red {
  color: coral;
}

.section-icon {
  font-size: 40pt;
  color: coral;
}

.section-title {
  font-size: 14pt;
  font-weight: 700;
  margin: 10px 0;
}

.navbar {
  grid-column: span 12;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  list-style-type: none;
  padding-inline-start: 0;
}

.navbar > li {
  background-color: coral;
  transition: 0.25s;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 10px 0 10px 0;
  text-align: center;
  color: azure;
  cursor: pointer;
}

.navbar > li:hover {
  color: coral;
  background: #fff;
}

.banner {
  grid-column: span 12;
  display: grid;
  gap: 5px;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(3, 1fr);
}

.banner-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.banner-img > .text {
  position: absolute;
  background-color: coral;
  color: bisque;
  padding: 10px 20px;
  left: 40px;
}

.banner-text {
  margin-top: 150px;
}

.banner-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: coral;
  color: blanchedalmond;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

.sections {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  margin-top: 1em;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 16px 0;
  text-align: center;
  color: darkslategray;
  transition: 0.25s;
}
.section:hover {
  background-color: wheat;
}

.section > p {
  margin: 8px 0;
}

.featured-section {
  grid-column: span 12;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: repeat(3, 1fr);
  background-color: bisque;
}
.featured-section-text {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  justify-content: center;
  grid-column: 2 / -1;
}
.featured-section-image {
  padding: 40px;
}

.btn {
  background: linear-gradient(to bottom, coral 5%, #ff9f29 100%);
  background-color: coral;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: max-content;
  margin: 8px 0;
  transition: 0.25s;
}
.btn:hover {
  background: whitesmoke;
  color: coral;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.gallery {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 5px;
  margin-top: 1em;
  margin-bottom: 3em;
}

.gallery > div {
  color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contain-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1264px) {
  html,
  body {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  .banner {
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-img {
    grid-row: 1;
    grid-column: span 3;
  }

  .banner-price {
    padding: 20px 0;
  }
  .sections {
    grid-template-columns: repeat(2, 1fr);
    margin: 1em 0;
  }
  .section {
    margin: 0;
  }
  .featured-section {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
  .featured-section-text {
    grid-column: 1;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    grid-template-columns: 1fr;
  }
  .sections {
    grid-template-columns: 1fr;
  }
}
